.friendList {
  padding: 20px 0;
  background-color: rgb(228, 228, 228);
  width: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friendListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.statusIsOnline {
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: green;
  border: 0.5px solid;
}

.statusIsOffline {
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 0.5px solid;
}
