.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px 0;
  width: 512px;
}

.title {
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  margin: 0 0 20px;
  padding: 0;
}

.statList {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.statListItem {
  display: flex;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
